In [25]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from pycaret.classification import setup, compare_models, create_model, predict_model

In [30]:
df = pd.read_csv("weatherAUS.csv")

In [32]:
df.shape

(145460, 23)

In [33]:
df = df.dropna(how="any")

In [34]:
df.shape

(56420, 23)

In [35]:
df["RainToday"] = pd.get_dummies(df["RainToday"], drop_first=True)
df["RainTomorrow"] = pd.get_dummies(df["RainTomorrow"], drop_first=True)

In [37]:
def label_encoder(column):
    le = LabelEncoder().fit(column)
    print(column.name, le.classes_)
    return le.transform(column)

In [38]:
df.columns

Index(['Date', 'Location', 'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation',
       'Sunshine', 'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm', 'RainToday', 'RainTomorrow'],
      dtype='object')

In [39]:
cols = ["Location", "WindGustDir", "WindDir9am", "WindDir3pm"]

In [40]:
for col in cols:
    df[col] = label_encoder(df[col])

Location ['AliceSprings' 'Brisbane' 'Cairns' 'Canberra' 'Cobar' 'CoffsHarbour'
 'Darwin' 'Hobart' 'Melbourne' 'MelbourneAirport' 'Mildura' 'Moree'
 'MountGambier' 'NorfolkIsland' 'Nuriootpa' 'Perth' 'PerthAirport'
 'Portland' 'Sale' 'Sydney' 'SydneyAirport' 'Townsville' 'WaggaWagga'
 'Watsonia' 'Williamtown' 'Woomera']
WindGustDir ['E' 'ENE' 'ESE' 'N' 'NE' 'NNE' 'NNW' 'NW' 'S' 'SE' 'SSE' 'SSW' 'SW' 'W'
 'WNW' 'WSW']
WindDir9am ['E' 'ENE' 'ESE' 'N' 'NE' 'NNE' 'NNW' 'NW' 'S' 'SE' 'SSE' 'SSW' 'SW' 'W'
 'WNW' 'WSW']
WindDir3pm ['E' 'ENE' 'ESE' 'N' 'NE' 'NNE' 'NNW' 'NW' 'S' 'SE' 'SSE' 'SSW' 'SW' 'W'
 'WNW' 'WSW']

In [41]:
df = df.drop(["Date"], axis=1)

In [42]:
X = df.drop(["RainTomorrow"], axis=1)
y = df["RainTomorrow"]

In [43]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=4242)

In [44]:
model = setup(data=df, target="RainTomorrow")

In [45]:
compare_models()

In [46]:
catb_model = create_model("catboost")

In [47]:
y_pred = predict_model(catb_model, data=X_test)

In [48]:
y_pred

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,prediction_label,prediction_score
66323,9,12.000000,23.000000,0.0,8.0,9.0,8,52.0,12,11,...,40.0,1012.000000,1011.400024,7.0,7.0,16.600000,22.000000,0,0,0.9443
95395,21,22.200001,32.400002,0.0,8.6,12.1,1,46.0,11,1,...,59.0,1008.000000,1005.099976,1.0,3.0,30.000000,31.400000,0,0,0.7843
105904,25,14.100000,27.700001,0.0,14.6,5.0,15,43.0,0,14,...,17.0,1012.599976,1011.000000,3.0,7.0,19.700001,26.299999,0,0,0.9322
13812,11,20.299999,30.799999,0.0,14.2,2.3,1,52.0,1,5,...,31.0,1019.400024,1016.599976,7.0,7.0,22.100000,29.400000,0,0,0.8157
118259,16,7.000000,28.400000,0.0,5.6,10.6,3,35.0,5,15,...,16.0,1026.000000,1023.099976,0.0,1.0,20.700001,26.600000,0,0,0.9983
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36957,22,18.799999,22.600000,4.0,6.0,0.8,4,33.0,1,1,...,95.0,1009.000000,1006.799988,8.0,8.0,18.900000,20.000000,1,1,0.9857
79225,23,0.500000,14.500000,0.0,2.0,3.2,3,59.0,4,5,...,63.0,1018.299988,1010.400024,7.0,7.0,6.600000,12.300000,0,1,0.7931
62018,18,6.300000,17.799999,0.0,1.6,4.9,14,28.0,6,15,...,58.0,1031.099976,1028.400024,3.0,5.0,10.500000,17.700001,0,0,0.9671
13304,11,2.100000,20.299999,0.0,2.2,10.2,3,30.0,4,3,...,26.0,1020.500000,1015.299988,0.0,1.0,9.900000,19.900000,0,0,0.9714
122765,15,13.500000,17.900000,4.2,1.4,2.5,15,46.0,3,15,...,76.0,1015.099976,1016.299988,4.0,6.0,16.400000,16.400000,1,1,0.8444